<!-- <section>
</section> -->
<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile rowspan="2" class="left-side">
        <div class="w-75 left-col position-relative pr-4">
            <div class="cons-container position-absolute " >
                <p class="consulting" >
                    Consulting
                </p>
            </div>
                <h1 class="text ">
                    <span class="d-block left1 industrial float-right">Industrial Factories</span>
                    <span class="d-block pt-5 sports-cont">
                    <span class="d-block pt-4 sports position-relative">Sports & Social
                        <span class="d-block">Clubs</span>
                    </span>
                    <span class="left1 ">Transportation
                        <span class="d-block logistic">& Logistics</span>
                    </span>
                    </span>
                </h1>
        </div>
    </mat-grid-tile>

    <!-- right column -->

    <mat-grid-tile rowspan="1" class="right-side">
        <div class="right-container w-75">
            <div class="right-content m-0 position-relative ">
                <h1 class="right d-block text p-0">
                <span class="d-block hospitals p-0 m-0">
                    <span class="d-block right1 p-0 m-0">Hospitals
                    <span class="d-block p-0 m-0">& Medical
                </span>
                <small class="d-block university p-0 m-0 ">
                    Universities & Schools
                </small>
                </span>
                </span>
            </h1>
            <div class="residential-cont py-0 px-0">
                <h1 class="right d-block text p-0 m-0">
                <span class="d-block residential p-0 m-0">
                  <span class="d-block p-0 m-0">Private Residential</span>
                <span class="d-block p-0 m-0">& Communities</span>
                <small class="d-block p-0 m-0">Public Sector & Governorates</small>
                </span>
            </h1>
            </div>
</div>
        </div>
        
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        any thing
    </mat-grid-tile>
</mat-grid-list>